.flex {
  display: flex;
}

.bordes {
  border: 4px solid #595959;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

input {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #000000;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

input::placeholder {
    color: #717171;
    font-style: italic;
}

input:hover {
    transform: scale(1.1);
}

button {
    transition: all 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.1);
}

.imagenes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: center;
    align-items: center;
    border: 4px solid #595959;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}

.imagenes-container img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.imagenes-container img:hover {
    transform: scale(1.1);
}